h1{
	display:inline;
}
.d{
	height: 500px;
	vertical-align: top;
	margin: 0;
	text-align: center;
	line-height: 500px;
}
#d1{
	background-color: #0066cc;
	color: white;
}
#d2{
	background-color: #cc6600;
}
#d3{
	background-color: #00cc66;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
}

.navbar-inner {
  text-align:center;
}

.dropdown-menu>li:first-child>a:hover { 
	background-image:none; 
	background-color:#0066cc !important; }

.dropdown-menu>li:nth-child(2)>a:hover  { 
	background-image:none; 
	background-color:#cc6600 !important; }

.dropdown-menu>li:nth-child(3)>a:hover  { 
	background-image:none; 
	background-color:#00cc66 !important; }